

<footer>
  <h4> <img src="/images/csv-logo.png" alt="" width="50px">
    Upload</h4>
  <p>CSV Upload 2024</p>
  <div class="footer-links">
    <a href="/"><i class="fa-solid fa-house"></i></a>
    
    
  </div>
</footer>